@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{text-decoration:none;-webkit-transition-property:color;-moz-transition-property:color;-o-transition-property:color;transition-property:color;-webkit-transition-duration:.2s;-webkit-transition-timing-function:ease-in;-moz-transition-duration:.2s;-moz-transition-timing-function:ease-in;-o-transition-duration:.2s;-o-transition-timing-function:ease-in;transition-duration:.2s;transition-timing-function:ease-in}
a:hover{text-decoration:text-decoration}
body {
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", 
	Helvetica, Arial,  FreeSans, Arimo, 
	"Droid Sans","wenquanyi micro hei",
	"Hiragino Sans GB", "Hiragino Sans GB W3", 
	Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.container-fluid{margin-left: 300px; margin-right: 300px;}
.row{padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {position: relative;min-height: 1px;padding-right: 10px;padding-left:0px;}
.col-xs-1-5 {width: 20%;float: left;}
 
@media (min-width: 768px) {
.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

.welcom a{text-decoration: none;color: #000000;}
.welcom a:hover{color: #000000;text-decoration: none;}
h6{
background-color:rgba(0, 0, 0, 0);
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:
rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
box-sizing:
border-box;
color:rgb(0, 0, 0);
cursor:auto;
display:inline;
font-family:arial, "Lantinghei SC", "Microsoft Yahei";
font-size:14px;
font-stretch:normal;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:normal;
height:auto;
line-height:35px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
outline-color:rgb(0, 0, 0);
outline-style:none;
outline-width:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-decoration-color:rgb(0, 0, 0);
text-decoration-line:none;
text-decoration-style:solid;
text-rendering:optimizeLegibility;
text-size-adjust:100%;
vertical-align:baseline;
width:auto;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
F7{
background-color:rgba(0, 0, 0, 0);
border-bottom-color:rgb(51, 51, 51);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(51, 51, 51);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(51, 51, 51);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(51, 51, 51);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(51, 51, 51);
cursor:auto;
display:inline-block;
font-family:"Microsoft Yahei",arial, "Lantinghei SC"; 
font-size:15px;
font-stretch:normal;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:bold;
height:36px;
line-height:36px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:0px;
margin-left:-1px;
margin-right:0px;
margin-top:0px;
outline-color:rgb(51, 51, 51);
outline-style:none;
outline-width:0px;
padding-bottom:0px;
padding-left:25px;
padding-right:25px;
padding-top:0px;
text-align:left;
text-decoration-color:rgb(51, 51, 51);
text-decoration-line:none;
text-decoration-style:solid;
text-rendering:optimizeLegibility;
text-size-adjust:100%;
vertical-align:middle;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.logobig{width: 100%;}
.logo{width: 100%; height:45px;}
@media screen and (max-width: 768px) {
 .search_form{padding-top: 10px;}
 .search_input{width: 95%;margin-left:0px;}
 .search_input-btn{background-color:#FF0036;width:30%;border-radius:0 0 0 0;}
  .form-control{  height: 33px;}
  .showpic{margin-top: 10px;}
}
@media screen and (min-width: 768px) {
	.search_form{padding-top: 15px;}
	.search_input{width: 95%;margin-left:60px;}
	.search_input-btn{background-color:#FF0036;height: 45px;width:20%;border-radius:0 0 0 0;}
    .form-control{  height: 46px;}
    }
.form-control{border: 2px solid #FF0036;border-radius:0 0 0 0;}
.form-control:focus {border-color: #FF0036;}  
.search_button {height: 100%;border: none;color: #F5F5F2;font-size: 16px;width: 100%;height:100%;text-align: center;background-color:#FF0036;} 


.warp{margin:0 0 0 0;padding:0 0 0 0;background:#F5F5F5;}


.nvBar{padding-top: 8px;height:45px;line-height:45px;border-bottom:3px solid #FF0036;text-rendering:optimizeLegibility;vertical-align:baseline;-webkit-font-smoothing:antialiased;-webkit-tap-highlight-color:}
.nvtitle{display: inline-block;width: 200px;font-size: 16px;font-weight: 700;color: #F5F5F2;background: #FF0036;text-align:center;line-height: 35px;padding-left: 0px;}
.nvop{padding-left: 0px;padding-right: 0px;text-align:center;line-height: 35px;font-family: "microsoft yahei";font-size: 16px;font-weight: 500;color: #000000;-webkit-font-smoothing: antialiased;}
.nvop a{color: #000000;text-decoration: none;}
.nvop a:hover{color: #FF0036;}
.mop{padding-left: 0px; padding-right: 0px;width: 25%;}

.menus{position: relative; z-index: 999;}
.nv{background-color: rgba(0,0,0,.55);width: 200px;position: absolute;top:-500px; height: 500px;z-index: 999;}
.menusul{list-style: none;padding-left: 0px;}

.menusli:hover .submenu{display:block;width: 850px;height:498px;position: absolute;top:0px;left: 200px;background: white;z-index: 5; -webkit-box-shadow:2px 2px 3px -1px #999999;-moz-box-shadow:2px 2px 3px -1px #999999}
.menusli:hover .nvlink{color: #B30624;display:inline-block;background-color:#ffF/* rgba(0,0,0,.55)*/;width: 200px;font-weight:bold;text-decoration: none;}
.menusli .nvlink{color: #fff;display: inline-block;}
.menusli:hover .nvlink:hover{color: #B30624;text-decoration: none; background: #FFFFFF;width: 200px;font-weight: bold;}
.nvicon{display: inline-block;opacity: .5;height: 31.2px; line-height: 31.2px;padding-right: 10px; padding-left: 14px;}
.submenu{list-style:none;display:none;width: 880px;height:500px;position: absolute;left: 200px;top:0px;background: white;z-index: 5;}
.leftsub{float: left;width: 600px;height: 500px;}
.rightsub{float: left;width: 250px;height: 500px;}

.leftsub .dlist{display: block;position:relative;top:0px;border-bottom: 1px solid #EEE; padding-bottom: 6px; height:50px;overflow: hidden;}
.leftsub .dlist .dtitle{float: left;margin-top: 2px;width: 90px;text-align: left; padding-left:15px;height: 46px;line-height: 46px;color:#333;font-weight: bold;text-decoration: none;font-size: 14px;}
.leftsub .dlist  .ddata{float:left;margin-top: 8px;text-align: center;height: 40px;line-height: 40px;margin-left: 10px;}
.iconop{position:relative;top:1px;left: 5px;}
.leftsub .dlist  .ddata .ddlink{display:inline-block;height:vertical-align:top;height:22px;line-height: 22px;font-size: 14px;color: #666;padding-left: 6px;padding-right: 6px;padding-top:5px;overflow: hidden;}
.leftsub .dlist  .ddata .ddlink:hover{color:#e4393c;text-decoration: none;}    
.sn-separator{display: inline-block;width: 0;height: 14px;line-height: 14px;vertical-align: top; position: relative;top: 14px;left: 0;font-size: 0; border-left: 1px solid #ccc;margin: -1px 3px 0 3px;}
@media only screen and (min-width: 100px) and (max-width: 768px) {
	.mop{text-align: center; padding: 10px;}
	.img-nm{width:60px;height:60px;}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.mop{text-align: center; padding: 10px;}
	.img-nm{width:90px;height:90px;}
}

.parea{}
.picli{margin-top: 10px;margin-bottom: 5px;}


/*.piclist {display: inline-block;width: 19%;height: auto;padding-right: 5px;margin-top: 0px;}*/
.piclist img{max-width:100%;height:auto;}

.spic{}
.spiclist{background:#FFFFFF;display: block;border: 1px solid #EEE;width: 9.93%;height: 100px;float: left;text-align: center;overflow: hidden;position: relative;}
.spiclist img{max-width:100%;height:auto;}
.spiclist:before{content: "";width: 0;height: 100%;background: #000;padding: 14px 18px;position: absolute;top: 0;left: 50%;opacity: 0;transition: all 500ms ease:cubic-bezier(0.47, 0, 0.745, 0.715) 0s;}
.spiclist:hover:before{width: 100%;left: 0;opacity: 0.8;}
.spictext{width: 100%;padding: 14px 18px;color: #fff;position: absolute;top: 38%;left: 0;}
.spictitle{font-size: 25px;font-weight: 600;line-height: 30px;text-transform: uppercase;margin: 0;opacity: 0;transition: all 0.5s ease 0s;}
.spiclist:hover .spictitle{opacity: 1;transition-delay: 0s;}


/* 分类开始 */
.floor1{padding-left: 0px;padding-right: 0px;}
.fhead{height: 600px;padding-left: 0px;width: 19%;}
.fbody{padding-left: 0px;padding-right: 0px;width: 81%;}

.ftitle{height: 25px;padding-left: 0px;vertical-align: middle}
.ftitle img{max-width:100%;height:25px;}

.fhead img{max-width:100%;height:612px;}
.frow{padding-left: 0px;}
.flist{display: inline-block;width: 24%;height: auto;margin-right: 8px;margin-bottom: 10px;background:#fff;}
.flist
.fplist {max-width:100%;height:auto;}
.fdes{display:block;width: 135px;height: 40px;font-size: 14px;color: #333;line-height: 20px;text-align:center;overflow: hidden;margin: 8px auto;}
.fprice{ display: block;text-align: center;   font-size: 18px;color: #FF0036;line-height: 18px;margin: 10px auto;}
/*分类结束*/